.git
.gitignore
.env
.env.example
Dockerfile
docker-compose.yml
README.md
storage/logs/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/data/*
public/storage
vendor/
node_modules/
npm-debug.log
yarn-error.log